<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>ToDo Handler</title>
    <link href="style/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="style/todo.css" rel="stylesheet" type="text/css">
</head>

<body>
    <section ng-app="TaskManager" class="container" ng-controller="taskController">
        <div class="container-fluid">
            <h1 class="h1 text-center text-primary">ToDo Handler</h1>
            <p class="h2 small text-center text-info  ">welcome, lets manage your task shedule</p>
            <div class="title-box">
                <label class="label label-info" for="description">ToDo Title</label>
                <br>
                <input type="text" id="description" class="left  taskName" placeholder="your awesome todo" ng-model="newTask">
            </div>
            <div class="priority-box"> <i class=""></i>
                <label class="label label-info" for="dropdown-header">Priority</label>
                <br>
                <select id="priority" class=" right dropdown-mennu" ng-model="newTaskPriority" ng-options="obj.name for obj in priorities">
                    <option class="dropdown" value=""></option>
                </select>
            </div>
            <div class="date-box">
                <label class=" label label-info" for="dueDate">Date</label>
                <br>
                <input type="date" id="dueDate" class=" left taskDate" ng-model="newTaskDate">
            </div>
            <div class="time-box">
                <label class="label label-info" for="dueTime">Time</label>
                <br>
                <input type="time" id="dueTime" class="right taskTime" ng-model="newTaskTime">
            </div>
                <div class="buttons-box">
            <button class="btn btn-success" class="taskAdd" ng-click="addNew()">
                </i>Add task</button>
            <button class="btn btn-danger" class="taskDelete" ng-click="deleteTask()">
                </i>Delete Tasks</button>
        </div>
        </div>
        
        <div class="list-box jumbotron">
            <ul>
                <li class="taskItem" ng-repeat="taskItem in taskItem track by $index" ng-model="taskItem">
                    <input type="checkbox" class="check" ng-model="taskItem.complete" ng-change="save()">
                    <span class=" item text-primary complete-{{taskItem.complete}}">{{taskItem.description}}             
                        <button class = " del btn btn-danger badge" ng-click="deleteEntry($index)">Delete</button>
                        </span>
                    <br>
                    <strong class=" date text-info complete-{{taskItem.complete}}"><i class=" glyphicon glyphicon-calendar"></i>{{taskItem.date | date : 'fullDate'}}</strong>
                    <br>
                    <strong class=" date text-info complete-{{taskItem.complete}}"><i class=" glyphicon glyphicon-time"></i>{{taskItem.time | date: 'hh:mma'}}</strong>
                    <br>
                    <span class=" priority priority-{{taskItem.priority}}">{{taskItem.priority}}</span>
                </li>
            </ul>
        </div>
    </section>
    <script src='bower_components/angular/angular.js'></script>
    <script src="js/todo.js"></script>
    <script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
</body>

</html>
