/* basic reset */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* app */

html {
    font-size: 100%;
}

body {
    background: #b1f6cb;
    background-image: url(todo4.jpg);
    font-family: 'Open Sans', sans-serif;
}
/* super basic grid structure */

ul
{
list-style-type: none;
}

.container {
    margin-top: 100px !important;
    background-color: #ffffff !important;
    width: 850px !important;
    height: 400px !important;
}

.container-fluid {
    float: left;
    margin-top: 30px;
    height: 350px !important;
    width: 400px !important;
    position: relative;
}

.title-box {
    margin-top: 10px;
    height: 50px;
    width: 200px;
    float: left;
}

.priority-box {
    margin-top: 10px;
    height: 50px;
    width: 150px;
    float: right;
}

.date-box {
    margin-top: 25px;
    height: 50px;
    width: 200px;
    float: left;
    margin-bottom: 40px;
}

.time-box {
    margin-top: 25px;
    height: 50px;
    width: 150px;
    float: right;
    margin-bottom: 40px;
}

.buttons-box {
    
    margin: auto;
    height: 45px !important;
    width: 200px !important;
}

.list-box {
    margin-top: 30px !important;
    position: relative;
    float: right;
    background-color: #e0eeee !important;
    overflow-y: scroll;
    height: 350px !important;
    width: 400px !important;
    border-color: #fffefe !important;
    border-style: double;
    border-width: 0.3em;
}

.label {
    text-align: center !important;
    font-size: 14px !important;
    position: absolute;
}

.btn-success .btn-info {
    float: center !important;
}

.right {
    margin-top: 10px;
}

.left {
    float: left;
    margin-top: 10px;
}

.del {
     float: right !important;
}

.item {
    font-color: #4961e1 !important;
    font-weight: bolder !important;
    font-size: 15px !important;
}

.text-info {
    font-color: #fffafa !important;
    font-style: italic;
    font-size: 10px !important;
}

.priority {
    background: transparent;
    font-size: 13px;
    font-weight: bold;
}

.priority-Important {
    color: white !important;
    background-color: #ff0000;
}

.priority-Regular {
    color: white !important;
    background-color: #ffff00; 
}

.priority-Not.Important {
    color: white !important;
    background-color: #32cd32;
}

input[type=checkbox] {
    display: inline-block;  
    width: 19px;  
    height: 19px;  
    vertical-align:middle;  
    background-color: #aaa;  
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;  
}
input[type=checkbox]:checked{
    content:"\2714"; 
    color:white;
    background-color: #0f0; 
    line-height:15px;
    text-shadow:0px 0px 3px #eee;
}